:root {
  --shade: rgba(0, 0, 0, 0.7);
  --white: rgb(230, 230, 230);
  --gray: rgb(175, 175, 175);
  --round: 14px;
  --square: 125px;
  --hot-pink: #e91e63;
}

#gifhub-ui-wrapper {
  display: none;
  /* Layout */
  align-items: center;
  justify-content: center;
  background: var(--shade);
}

#gifhub-ui-wrapper.active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  backdrop-filter: blur(3px);
}

#gifhub-ui-wrapper * {
  box-sizing: border-box;
}

#gifhub-ui-modal {
  width: 407px;
}

#gifhub-ui-searchbar {
  border-radius: var(--round);
  margin-bottom: 30px;
}

#gifhub-ui-searchbar input {
  width: 100%;
  font-size: 32px;
  padding: 10px 32px;
  border: 0;
  background: rgba(0,0,0,.5);
  position: relative;
  border-radius: 32px 32px 32px 32px;
  border: 1px solid rgba(0,0,0,.5);
  color: white;
}

#gifhub-ui-searchbar input:active, #gifhub-ui-searchbar input:focus {
  outline: none;
  border: 1px solid var(--hot-pink);
  border-radius: 32px 32px 32px 32px;
  background: rgba(0,0,0,.8);
}

#gifhub-ui-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  align-items: center;
}

.gif {
  position: relative;
  display: block;
  border: 0;
  width: var(--square);
  height: var(--square);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--round) / 2);
}

.gif::after {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  border-radius: var(--round);
  background: transparent;
  z-index: -1;
}

.gif:focus {
  outline: none;
}

.gif:focus::after {
  background: var(--hot-pink);
}

.add-gif-button {
  /* Lifted from github */
  display: block;
  float: left;
  padding: 4px;
  color: #586069;
  cursor: pointer;
  background: none;
  border: 0;
  text-align: center !important;
  padding: 4px !important;
  margin-right: 4px !important;
  margin-left: 4px !important;
  flex: auto !important;
  position: relative;
}